<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>usuarioServlet</servlet-name>
        <servlet-class>Controlador.usuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>destinoServlet</servlet-name>
        <servlet-class>Controlador.destinoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservaServlet</servlet-name>
        <servlet-class>Controlador.reservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservarDestinoServlet</servlet-name>
        <servlet-class>Controlador.reservarDestinoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoServlet</servlet-name>
        <servlet-class>Controlador.mantenimientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedorServlet</servlet-name>
        <servlet-class>Controlador.proveedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usuarioServlet</servlet-name>
        <url-pattern>/usuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>destinoServlet</servlet-name>
        <url-pattern>/destinoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservaServlet</servlet-name>
        <url-pattern>/reservaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservarDestinoServlet</servlet-name>
        <url-pattern>/reservarDestinoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoServlet</servlet-name>
        <url-pattern>/mantenimientoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedorServlet</servlet-name>
        <url-pattern>/proveedorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
